body {
	background-image: url("finding-nemo-background.jpg");
	background-size: 100%;
}

#container {
	position: relative;
	background:#2595FF;
	width: 900px;
	height: 900px;	
	margin-left: auto;
	margin-right: auto;
}

#title {
	position: relative;
	text-align: center;
	color: #1B18FF;
	font-family: "Verdana";
	font-style: oblique;
	border-style: outset;
	border-color: #06FFC3;
	border-width: 5px;
}

.box {
	width: 290px;
	height: 300px;
	border-bottom: 5px groove #07B4FF;
	border-right: 7px groove #07B4FF;	
	float: left;
}

.rightColumn {
	border-right: 0;	
}

.bottomRow {
	border-bottom: 0;	
}

#box1 {

}

#box2 {
}

#box3 {
}

#box4 {

}

#box5 {

}

#box6 {

}
#box7 {

}
#box8 {

}
#box9 {

}